#wrapper {
    background-color: #15202b;
}
main {
    max-width: 600px;
    min-height: 960px;
    height: auto;
    margin: 0 auto;
    border-right: 1px solid #38444D;
    border-left: 1px solid #38444D;
}
#home {
    border-bottom: 1px solid #38444D;
}
#home a {
    text-decoration: none;
}
#home h3{
    padding: 15px;
    color: #ffffff;
    font-size: 19px;
}
.tweet-area {
    border-bottom: 10px solid #38444D;
    padding: 10px 15px;
}
.text-input {
    display: flex;
}
.text-input a {
    display: block;
    border-radius: 9999px;
    margin-right: 10px;
}
.text-input img {
    border-radius: 9999px;
    height: 49px;
}
.text-input input[type="text"] {
    background-color: #15202b;
    border: none;
    padding: 0;
    width: 100%;
    font-size: 20px;
    color: #ffffff;
    padding-left: 5px;
}
.text-input input::placeholder {
    font-size: 20px;
    color: #8899A6;
}
.text-input input:focus {
    outline: none;
}
.tweet-area button {
    display: block;
    margin: 0 0 0 auto;
    margin-top: 10px;
}
.tweet-area button.tweet-btn {
    background-color: #1DA1FD;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
}
.tweet-btn:focus {
    outline: none;
}
.timeline {
    padding: 10px 15px;
    display: flex;
    border-bottom: 1px solid #38444D;
}
.user-information {
    display: flex;
}
.timeline a {
    display: block;
    border-radius: 9999px;
    margin-right: 10px;
}
.timeline img{
    border-radius: 9999px;
    height: 49px;
}
.user-name {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}
.user-id {
    color: #8899A6;
    font-size: 15px;
}
.tweet-text {
    margin-top: 10px;
    color: #ffffff;
    font-size: 15px;
    line-height: 1.4;
}